mat-toolbar {
  justify-content: space-between;
}
.custom-button {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}


.content{
  padding: 32px;
}